body {
<<<<<<< HEAD
  margin: 0;
  padding: 0;
  font-family: sans-serif;
=======
  color: #95989A;
}

hr {
  background-color: #FFD530;
}

h1, h2, h3, h4, h5, h6 {
  color: #403116;
}

.lead-p-hr {
  margin-bottom: -48px;
>>>>>>> 3f76d5d4d85b297700a5716366afd275e0635255
}

.row {
  margin-bottom: 48px;
}
