body {
  color: #95989a;
}

hr {
  background-color: #ffd530;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #403116;
}

.lead-p-hr {
  margin-bottom: -48px;
}

.row {
  margin-bottom: 48px;
}

section {
  margin-top: 64px;
}

.thick-hr {
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}
